@inject IAppointmentService appointment_service; 


@if (metrics_saved) {
    <StatusMessage Message="Las métricas se guardaron exitosamento" Class="sucess" />
}

<Loading IsLoading="MetricsForm == null">
    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <EditForm EditContext="MetricContext" OnValidSubmit="saveMetricData">
                <TextBox @bind-Value="MetricsForm.Altura" Label="Estatura" />
                <TextBox @bind-Value="MetricsForm.Peso" Label="Peso" />
                <TextBox @bind-Value="MetricsForm.Presion" Label="Presión" />

                @if (true)
                {
                    <button type="submit" class="btn btn-primary" @onclick="saveMetricData">Guardar</button>
                }

            </EditForm>
        </div>
    </div>
</Loading>