@inject IAppointmentService appointment_service;

<style>
    body {
        background-color: white;
    }
</style>


@if (metrics_saved)
{
    <StatusMessage Message="Las métricas se guardaron exitosamento" Class="success"></StatusMessage>
}

@if (metrics_updated)
{
    <StatusMessage Message="Las métricas se actualizaron" Class="success"></StatusMessage>
}

<Loading IsLoading="MetricsForm == null">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <EditForm EditContext="MetricContext" OnValidSubmit="saveMetricData">
                <TextBox @bind-Value="MetricsForm.Altura" Label="Estatura" />
                <TextBox @bind-Value="MetricsForm.Peso" Label="Peso" />
                <TextBox @bind-Value="MetricsForm.Presion" Label="Presión" />

                @if (true)
                {
                    <button type="submit" class="btn btn-primary">Guardar</button>
                }

            </EditForm>
        </div>
    </div>
</Loading>