@page "/dashboard"
@*Example of policy based authorization in a page*@

@attribute [HasPermission(AuthorizationPermissions.CanSeeIncidentsInfoOnDashboard)]

@layout MainLayout
@using ChartJs.Blazor.Charts
@using PRIME_UCR.Application.Implementations.UserAdministration;
@using PRIME_UCR.Domain.Constants

@*Example of policy based authorization in a piece of code*@

<AuthorizeView Policy="@AuthorizationPermissions.CanSeeIncidentsInfoOnDashboard.ToString()">
    <Authorized>
        <h1>
            Dashboard
        </h1>

    </Authorized>
    <NotAuthorized>
        <h1>
            No dashboard
        </h1>
    </NotAuthorized>
</AuthorizeView>



@*<LineGraphComponent></LineGraphComponent>*@
<div class="wrapper">
    <div class="rounded" style="background-color: white;padding-left: 10px;padding-right: 10px;">
        <FiltersComponent @bind-Value="FilterInfo" />
    </div>
</div>


<div class="row">
    <div class="col-lg-6 col-md-12">
        <PRIME_UCR.Components.Dashboard.IncidentsVsTimeChartComponent />
    </div>
    <div class="col-lg-6 col-md-12">
        <IncidentsVsTransportTypeChartComponent />
    </div>
</div>

<br />

<div class="row">
    <div class="col-lg-6 col-md-12">
        <IncidentsVsTransportTypeComponentJS />
    </div>
    <div class="col-lg-6 col-md-12">
        <IncidentsVsTimeChartComponentJS />
    </div>
</div>

<br />

<div class="row">
    <div class="col-lg-6 col-md-12">

        <IncidentsVsOriginLocationComponentJS />
    </div>
    <div class="col-lg-6 col-md-12">
        <IncidentsVsDestinationLocationComponentJS />
    </div>
</div>



