@page "/dashboard"
@attribute [Authorize]

@layout MainLayout
@using ChartJs.Blazor.Charts
<div class="row">
    <div class="col-md-4">
        <PieGraphComponent></PieGraphComponent>
    </div>
    <div class="col-md-4">
        <PieGraphComponent></PieGraphComponent>
    </div>
    <div class="col-md-4">
        <PieGraphComponent></PieGraphComponent>
    </div>

    @*<LineGraphComponent></LineGraphComponent>*@
</div>

