@page "/dashboard"
@*Example of policy based authorization in a page*@

@attribute [HasPolicy(AuthorizationPolicies.CanManageDashboard)]

@layout MainLayout
@using ChartJs.Blazor.Charts
@using PRIME_UCR.Application.DTOs.UserAdministration;
@using PRIME_UCR.Application.Implementations.UserAdministration;
@*Example of policy based authorization in a piece of code*@

<AuthorizeView Policy="@AuthorizationPermissions.CanManageDashboard.ToString()">
    <Authorized>
        <h1>
            Dashboard
        </h1>

    </Authorized>
    <NotAuthorized>
        <h1>
            No dashboard
        </h1>
    </NotAuthorized>
</AuthorizeView>




<div class="row">
    <div class="col-lg-6 col-md-12">
        <PRIME_UCR.Components.Dashboard.IncidentsVsTimeChartComponent />
    </div>
    <div class="col-lg-6 col-md-12">
        <IncidentsVsTimeChartComponentJS/>
        
    </div>
</div>

<br />

<div class="row">
    <div class="col-lg-6 col-md-12">
        <AmTestGraph />
    </div>
    <div class="col-lg-6 col-md-12">
        <PRIME_UCR.Components.Dashboard.IncidentVSTransportTypeChartComponent />
    </div>
</div>

<!--
    <AmMapTest/>

-->
