@inject AuthenticationStateProvider _authenticationStateProvider

<p>
    @GetMessageAsync().Result
</p>
@if(@isAuthenticated){
    <button class="btn btn-disabled" role="button" aria-disabled="true" disabled>Solicitar Permiso</button>
}
