@inject AuthenticationStateProvider _authenticationStateProvider

<p>
    @GetMessageAsync().Result
</p>
@if(@isAuthenticated){
    <button class="btn btn-primary" role="button" @onclick ="goToPageAskPermission" >Solicitar Permiso</button>
}
