@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<div class="container mt-5 text-white">
    <div class="text-left @invalidUser">
        <p id="emailHelp" class="text-danger">Ingresó su usuario o contraseña incorrectamente. Intente de nuevo.</p>
    </div>
    <EditForm Model="@logInInfo" OnValidSubmit="@ValidateUser">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label>Correo Electrónico:</label>
            <InputText @bind-Value="logInInfo.Correo" class="form-control" aria-describedby="emailHelp" />
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <InputText @bind-Value="logInInfo.Contraseña" type="password" class="form-control" />
        </div>
        <a class="text-white">Cambiar contraseña</a> <!--Falta agregar referencia para cambiar clave-->
        <br />
        <button type="submit" class="btn btn-light mt-2">Ingresar</button>
    </EditForm>
    <div class="text-left">
        <small id="emailHelp" class="text-white">No compartiremos su correo electrónico con nadie.</small>
    </div>

</div>
