@inherits LayoutComponentBase

<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">PRIME@UCR</a>
    </div>
    <LoginForm></LoginForm>
</div>

<div class="main">
    <HeaderComponent />

    <div class="content px-4">
        @Body
    </div>
</div>
