@if (EmailModel.Message != String.Empty)
{
    <StatusMessage Message="@EmailModel.Message"
                   Class="@EmailModel.StatusMessage" />
}

<div class="bg-white rounded pb-1">
    <EditForm Model="@EmailModel" OnValidSubmit="CheckUserForRecoveryAsync">
        <FluentValidationValidator />
        <p>
            Digite su correo electrónico para enviarle un enlace para obtener una nueva contraseña.
        </p>

        <div class="col-4">
            <TextBox @bind-Value="EmailModel.Email"
                     Label="Correo electrónico"
                     Required="true" />
        </div>
        <div class="m-3">
            <button type="submit" class="btn btn-primary">Recuperar contraseña</button>
        </div>
    </EditForm>
</div>