@using PRIME_UCR.Components.Controls

<Loading IsLoading="ListPermissions == null">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Número permiso</th>
                <th scope="col">Descripción de permiso</th>

            </tr>
        </thead>
        <tbody>

            @foreach(var permission in ListPermissions) 
            {
                <tr>
                    <th scope="row">@permission.IDPermiso</th>
                    <td>@permission.DescripciónPermiso</td>
                </tr>
            }
        
        </tbody>
    </table>
</Loading>