<Loading IsLoading="Value == null">
    <div class="bg-white rounded p-3 col-lg-6">

        <h4>Información personal</h4>

        <div class="row">
            <div class="col-lg-3">
                <TextInput Label="Número de cédula:" @bind-Value="Value.IdCardNumber" IsRequired="true" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <TextInput Label="Nombre:" @bind-Value="Value.Name" IsRequired="true" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <TextInput Label="Primer apellido:" @bind-Value="Value.FirstLastName" IsRequired="true" />
            </div>
            <div class="col-lg-3">
                <TextInput Label="Segundo apellido:" @bind-Value="Value.SecondLastName" />
            </div>
        </div>

        @*<DateTimePicker DateLabel="Fecha nacimiento:" @bind-Value="Value.BirthDate"  />*@

        <label>Sexo:</label>
        <br />
        <form>
            <label class="radio-inline">
                <input type="radio" name="optradio" @onclick="SetSexToMale">Masculino
            </label>
            &emsp;
            <label class="radio-inline">
                <input type="radio" name="optradio" @onclick="SetSexToFemale">Femenino
            </label>
            &emsp;
            <label class="radio-inline">
                <input type="radio" name="optradio" @onclick="SetSexToOther">Otro
            </label>
        </form>
        <br />
    </div>

    <br/>

    <div class="bg-white rounded p-3 col-lg-6">

        <h4>Información de contacto</h4>

        <div class="row" >
            <div class="col-lg-4">
                <TextInput Label="Correo electrónico" @bind-Value="Value.Email" IsRequired="true" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <TextInput Label="Número de teléfono primario:" @bind-Value="Value.PrimaryPhoneNumber" IsRequired="true" />
            </div>
            <div class="col-lg-3">
                <TextInput Label="Número de teléfono secundario:" @bind-Value="Value.SecondaryPhoneNumber" />
            </div>
        </div>

    </div>
    <br />

</Loading>