
@if(!RecoveryPasswordInfo.IsValidUser)
{
    <StatusMessage Message="El correo que ingresó no coincide con su correo personal"
                   Class="danger" />
}

<div class="bg-white rounded p-1">
    <EditForm Model="@RecoveryPasswordInfo" OnValidSubmit="ChangePassword">
        <FluentValidationValidator />
        <div class="col-4">
            <TextBox Label="Nueva contraseña:"
                     @bind-Value="RecoveryPasswordInfo.PasswordModel.Password"
                     Required="true"
                     Type="password" />
        </div>

        <div class="col-4">
            <TextBox Label="Confirmar nueva contraseña:"
                     @bind-Value="RecoveryPasswordInfo.PasswordModel.ConfirmedPassword"
                     Required="true"
                     Type="password" />
        </div>

        <div class="m-3">
            @if (_isBusy)
            {
                <button class="btn btn-primary width:13em mt-2" type="button">
                    <span class="spinner-border spinner-border-sm" style="background-color:#095290" role="status" aria-hidden="true"></span>
                    Validando información
                </button>
            }
            else
            {
                <button type="submit" class="btn btn-primary width:13em">Cambiar contraseña</button>
            }
        </div>
    </EditForm>
</div>