@using PRIME_UCR.Components.Controls
@using PRIME_UCR.Components.Incidents.LocationPickers

<h1> Información sobre el destino </h1>
<ListItem Title="Destino" Text="Centro médico" />
<br />
<MedicalCenterPicker />

