<h3> Información general de incidentes</h3>
<br />
<ul class="list-group">
    <ListItem Title="Id" Text="@Incident.Id"/>
    <ListItem Title="Estado" Text="@Incident.Estado"/>
    <ListItem Title="Modalidad" Text="@Incident.Modalidad.Tipo"/>
    @* <ListItem Title="Registrado por" Text="" /> *@
</ul>

@code {
    [Parameter]
    public Incidente Incident { get; set; }
}