<h3>Multimedia de incidente</h3>
<br/>
<Loading IsLoading="_actionTypes == null">
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="_selectedActionType">
                <DropDownMenu Data="@_actionTypes" Label="Tipo de multimedia"
                              DefaultText="Seleccione tipo de multimedia"
                              TextProperty="Nombre"
                              @bind-Value="_selectedActionType"/>
            </EditForm>
        </div>
    </div>
</Loading>
