@using PRIME_UCR.Components.Controls
@using PRIME_UCR.Components.Incidents.LocationPickers

<h1> Información sobre el origen </h1>
<br />
<label>Origen</label>
<DropDownMenu Values="@_dropdownValuesOrigin" OnChangeCallback="@((OriginType tab) => OnChangeOrigin(tab))" />
@if (@_selectedOriginType == OriginType.Household)
{
    <CountryPicker />
}
else if (@_selectedOriginType == OriginType.International)
{
    <CountryPicker />

}
else
{ 
    <MedicalCenterPicker />
}

