@using PRIME_UCR.Components.Controls
@using PRIME_UCR.Components.Incidents.LocationPickers

<h3> Información sobre el origen </h3>
<br />
<DropDownMenu Values="@_dropdownValuesOrigin" Label="Tipo de origen" OnChangeCallback="@((OriginType tab) => OnChangeOrigin(tab))" />
@if (_selectedOriginType == OriginType.Household)
{
    <HouseholdPicker />
}
else if (_selectedOriginType == OriginType.International)
{
    <InternationalPicker Model="@intlModel" />
}
else
{ 
    <MedicalCenterPicker />
}

