@using PRIME_UCR.Components.Controls
@using ChartJs.Blazor.ChartJS.Common.Handlers.OnClickHandler

<h3>Paciente por trasladar</h3>
<br />
<Loading IsLoading="_isLoading">
    @if (Incident.MedicalRecord == null)
    {
        <StatusMessage Message="Este valor está pendiente para finalizar la creación del incidente." Class="warning" />
    }
    <StatusMessage Message="@_statusMessage" Class="success"/>
    @if (_model.Patient != null)
    {
        @switch (_patientStatus)
        {
            case PatientStatus.PatientExists:
                <StatusMessage Message="El paciente existe y tiene expediente. Puede asignarlo a este incidente presionando el botón de guardar." Class="primary"/>
                break;
            case PatientStatus.PersonExists:
                <StatusMessage Message="La persona está registrada en el sistema, pero no tiene un expediente. Puede crear el expediente y asignarlo a este incidente presionando el botón de guardar." Class="primary"/>
                break;
            case PatientStatus.NewPerson:
                <StatusMessage Message="Esta cédula no está registrada en el sistema. Digite los datos en el formulario. Presione el botón de guardar para crear al paciente con su expediente y asignarlo a este incidente." Class="primary"/>
                break;
            case PatientStatus.PatientUnchanged:
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    }
    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <EditForm EditContext="_context">
                <FluentValidationValidator />
                <TextBox Label="Cédula del paciente"
                         Value="@_model.CedPaciente"
                         ValueExpression="() => _model.CedPaciente"
                         ValueChanged="(string s) => OnIdChange(s)" />
                @if (_model.Patient == null)
                {
                    <div class="mt-2">
                        <button class="btn btn-primary">Guardar</button>
                        <button class="btn btn-outline-secondary" @onclick="LoadExistingValues" @onclick:preventDefault>Descartar</button>
                    </div>
                }
            </EditForm>
            @if (_model.Patient != null)
            {
                <EditForm EditContext="_patientContext" OnValidSubmit="Submit">
                    <FluentValidationValidator />
                    <TextBox Disabled="IsReadOnly()" @bind-Value="_model.Patient.Nombre" Label="Nombre"/>
                    <TextBox Disabled="IsReadOnly()" @bind-Value="_model.Patient.PrimerApellido" Label="Primer apellido"/>
                    @if (!IsReadOnly() || !String.IsNullOrEmpty(_model.Patient.SegundoApellido))
                    {
                        <TextBox Disabled="IsReadOnly()" Required="false" @bind-Value="_model.Patient.SegundoApellido" Label="Segundo apellido"/>
                    }
                    @if (!IsReadOnly() || _model.Patient.FechaNacimiento != null)
                    {
                        <DatePicker Disabled="IsReadOnly()"
                                    @bind-Value="_model.Patient.FechaNacimiento"
                                    Label="Fecha de nacimiento"
                                    Max="@DateTime.Today"
                                    Min="@DateTime.Today.AddYears(-120)"
                                    Required="false"/>
                    }
                    @* TODO: sexo *@
                    <div class="mt-4">
                        @if (_patientStatus == PatientStatus.PatientUnchanged)
                        {
                            <button disabled class="btn btn-primary">Guardar</button>
                            <button disabled class="btn btn-outline-secondary">Descartar</button>
                        }
                        else
                        {
                            <button class="btn btn-primary">Guardar</button>
                            <button class="btn btn-outline-secondary" @onclick="LoadExistingValues" @onclick:preventDefault>Descartar</button>
                        }
                    </div>
                </EditForm>
            }
        </div>
    </div>
</Loading>
