@using PRIME_UCR.Components.Controls

<h3>Información sobre el expediente de paciente</h3>
<br />
@if (Expediente == null)
{

    <StatusMessage Message="Este valor está pendiente para finalizar la creación del incidente." Class="warning" />
}
<EditForm Model="_model" OnValidSubmit="AssignRecord">
    <FluentValidationValidator />
    <TextBox Label="Cédula del paciente"
             @bind-Value="@_model.CedPaciente" />
    <div class="text-center">
            <button class="btn btn-primary">Guardar</button>
    </div>
</EditForm>

@code {

}