@using PRIME_UCR.Components.Controls

<h3>Información sobre el expediente de paciente</h3>
<br />
@if (Expediente == null)
{

    <StatusMessage Message="Este valor está pendiente para finalizar la creación del incidente." Class="warning" />
}
<EditForm Model="_model" OnValidSubmit="Save">
    <FluentValidationValidator/>
        <TextBox Label="Cédula del paciente"
                 Value="@_model.CedPaciente"
                 ValueExpression="() => _model.CedPaciente"
                 ValueChanged="(string a) => OnIDChange(a)" />

</EditForm>

@code {

}