@using PRIME_UCR.Components.Controls
@using ChartJs.Blazor.ChartJS.Common.Handlers.OnClickHandler

<h3>Paciente por trasladar</h3>
<br />
<Loading IsLoading="_isLoading">
    @if (Incident.MedicalRecord == null)
    {
        <StatusMessage Message="Este valor está pendiente para finalizar la creación del incidente." Class="warning" />
    }
    <StatusMessage Message="@_statusMessage" Class="success"/>
    <div class="row">
        <div class="col-md-4">
            <EditForm EditContext="_context">
                <FluentValidationValidator />
                <TextBox Label="Cédula del paciente"
                         Value="@_model.CedPaciente"
                         ValueExpression="() => _model.CedPaciente"
                         ValueChanged="(string s) => OnIdChange(s)" />
                @if (_model.Patient == null)
                {
                    <div class="mt-2">
                        <button class="btn btn-primary">Guardar</button>
                        <button class="btn btn-outline-secondary" @onclick="LoadExistingValues" @onclick:preventDefault>Descartar</button>
                    </div>
                }
            </EditForm>
            @if (_model.Patient != null)
            {
                <EditForm EditContext="_patientContext" OnValidSubmit="Submit">
                    <FluentValidationValidator />
                    @if (!IsReadOnly() || _model.Patient.FechaNacimiento != null)
                    {
                        <DatePicker Disabled="IsReadOnly()" @bind-Value="_model.Patient.FechaNacimiento" Label="Fecha de nacimiento"/>
                    }
                    <TextBox Disabled="IsReadOnly()" @bind-Value="_model.Patient.Nombre" Label="Nombre"/>
                    <TextBox Disabled="IsReadOnly()" @bind-Value="_model.Patient.PrimerApellido" Label="Primer apellido"/>
                    @if (IsReadOnly() || !String.IsNullOrEmpty(_model.Patient.SegundoApellido))
                    {
                        <TextBox Disabled="IsReadOnly()" @bind-Value="_model.Patient.SegundoApellido" Label="Segundo apellido"/>
                    }
                    @* TODO: sexo *@
                    <div class="mt-2">
                        @if (_patientStatus == PatientStatus.PatientUnchanged)
                        {
                            <button disabled class="btn btn-primary">Guardar</button>
                            <button disabled class="btn btn-outline-secondary">Descartar</button>
                        }
                        else
                        {
                            <button class="btn btn-primary">Guardar</button>
                            <button class="btn btn-outline-secondary" @onclick="LoadExistingValues" @onclick:preventDefault>Descartar</button>
                        }
                    </div>
                </EditForm>
            }
        </div>
    </div>
</Loading>
