<h3>Estados del Incidente</h3>
<br />

<div class="scrollmenu">
    <RadzenMenu>
    @foreach (var state in IncidentStatesList)
    {
        <RadzenMenuItem Text=@state />
    }
    </RadzenMenu>

</div>
<br />
@if(Incident.CurrentState != "Finalizado")
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Siguiente estado</th>
                <th scope="col">Pendiente</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@nextState</td>
                <td>
                    @if (PendingTasks != null)
                    {
                        <p>
                        @foreach (var task in PendingTasks)
                        {
                            @task            

                        }
                        </p>
                    }
                </td>
            </tr>
        </tbody>
    </table>
}

