@using PRIME_UCR.Domain.Constants;

<h3>Estados del Incidente</h3>
<br />

<div class="scrollmenu">
    <RadzenMenu>
        @for (var index = 0; index < IncidentStatesList.Count; ++index)
        {
            <RadzenMenuItem Text=@IncidentStatesList[index].Item2 class="@setStateColor(index)" />
        }
    </RadzenMenu>
</div>

<br />
@if (Incident.CurrentState != IncidentStates.Done.Nombre)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Siguiente estado</th>
                <th scope="col">Pendiente</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@nextState</td>
                <td>
                    @if (PendingTasks != null)
                    {
                        <p>
                            @for (var index = 0; index < PendingTasks.Count; ++index)
                            {
                                <a href="@($"/incidents/{Incident.Code}")"> @PendingTasks[index] </a>
                            }
                        </p>
                    }
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        @if (PendingTasks.Count > 0)
        {
            <button disabled type="submit" class="btn btn-primary">Siguiente estado</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary">Siguiente estado</button>
        }
    </div>
}


