@page "/medicalrecord/{Id}"
@using PRIME_UCR.Components.MedicalRecords.Tabs
@using PRIME_UCR.Components.MedicalRecords
@using PRIME_UCR.Components.Controls
@attribute [Authorize]
@inject IMedicalBackgroundService MBGS
@inject IMedicalRecordService MedicalRecordService
@inject NavigationManager NavigationManager

<h1>Detalles del expediente</h1>
<hr />
@if (exists)
{
    <Loading IsLoading="viewModel == null">
        <div class="row">
            <div class="col-lg-2 mb-4">
                <TabMenu Tabs="_tabs" DefaultTab="DefaultTab" IsVertical="true" @bind-Value="_activeTab" />
            </div>
            <div class="col">
                <ActiveTab Active="@_activeTab" Expediente="@viewModel" />
            </div>
        </div>
    </Loading>
}
else
{
    <h4 class="text-danger">No se encontró el expediente solicitado.</h4>
}
<br />

