@using PRIME_UCR.Components.Controls

<Loading IsLoading="_isLoading">
    <EditForm Model="Value" OnValidSubmit="@Save">
        <DropDownMenu Label="Modalidad"
                      Data="_modes"
                      Value="Value._selectedModality"
                      ValueExpression="() => Value._selectedModality"
                      ValueChanged="@((Modalidad m) => OnModalityChange(m))"
                      TextProperty="Tipo"
                      DefaultText="Sin filtro"
                      UseValidation="false"
                      Required="false" />
        @if (!_changesMade)
        {
            <button disabled type="submit" class="btn btn-primary">Aplicar filtros</button>
            <button disabled class="btn btn-outline-secondary">Descartar filtros</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary">Aplicar filtros</button>
            <button role="button" @onclick:preventDefault @onclick="@Discard" class="btn btn-outline-secondary">Descartar filtros</button>
        }
    </EditForm>
</Loading>