#MH_LC {
    background: rgba(49, 169, 255, 0.80);
    color: white;
}

#MB_LC {
    background: rgba(229, 229, 229, 0.81);
    padding-left: 16px;
    padding-right: 16px;
}

#MC_LC {
    align-content: flex-start;
    padding-left: 16px;
    padding-right: 16px;
    /*background: white; rgba(229, 229, 229, 0.81);*/
    border: 0;
}

button#BP_A_LC0.btn.btn-primary {
    background: rgba(49, 169, 255, 0.80);
}

button#BP_LC0.btn.btn-primary {
    background: rgba(49, 169, 255, 0.80);
}

button:disabled#BP_LC0.btn.btn-primary {
    background: rgba(22, 69, 103, 0.80);
}

a#a_LC1.btn.btn-outline-primary {
    background: rgba(49, 169, 255, 0.80);
    position: absolute;
    top: 500px;
    right: 20px;
    color:white;
}

a#a_LC1.btn.btn-outline-primary {
    background: rgba(49, 169, 255, 0.80);
}

a:disabled#a_LC1.btn.btn-outline-primary {
    background: rgba(22, 69, 103, 0.80);
}

#Table_CL {
    background: white;
}

.createLC > p {
}

dialog { /*#Dialog_LC {*/
    border-color: transparent;
    border-width: thin;
    border-style: unset;
    border-radius: 5px;
    padding: 0em;
}

.M_LC {
    position: absolute;
    top: 130px;
    left: 300px;
    z-index: auto;
    display: none;
    width: 200%;
    height: 100%;
    overflow: auto;
    outline: 0;
}