
/*Button for seve a new checklist */
button#BP_A_LC0.btn.btn-primary {
    background-color: #095290;
    color: white;
}

button:hover#BP_LC0.btn.btn-primary {
    background: #00c0f3;
    color: white;
}
button:active#BP_LC0.btn.btn-primary {
    background-color: #095290;
    color: white;
}

button:disabled#BP_LC0.btn.btn-primary {
    background: #676766;
}

/*a for save checklist */
a#a_LC0.btn.btn-outline-primary {
    background: #095290;
    color: white;
}

a:active#a_LC0.btn.btn-outline-primary {
    background: #095290;
    color: white;
}

a:hover#a_LC0.btn.btn-outline-primary {
    background: #00c0f3;
    color: white;
}

a:disabled#a_LC0.btn.btn-outline-primary {
    background: #676766;
}

/*a for cancele  checklist */
a#a_LC3.btn.btn-outline-secondary {
    background: transparent; /*#6c757d*/
}

a:hover#a_LC3.btn.btn-outline-secondary {
    background: #676766;
}

/*a for create checklist */
a#a_LC1.btn.btn-outline-primary {
    background: #095290; /*rgba(49, 169, 255, 0.80)*/
    position: absolute;
    top: 500px;
    right: 20px;
    color: white;
    border-radius: 1.0rem;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
}
a:active#a_LC1.btn.btn-outline-primary {
}

a:hover#a_LC1.btn.btn-outline-primary {
}

a:disabled#a_LC1.btn.btn-outline-primary {
    background: #676766;
}
/*a for create  checklist 2 */
a#a_LC2.btn.btn-outline-primary {
    background: #095290;
    position: absolute;
    top: 400px;
    right: 0px;
    left: auto;
    /*position: relative;
    top: 300px;
    right: 100px;
    left: 100px;*/
    color: white;
    border-radius: 1.0rem;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
}

a:hover#a_LC2.btn.btn-outline-primary {
}

a:disabled#a_LC2.btn.btn-outline-primary {
    background: #676766;
}

a:active#a_LC2.btn.btn-outline-primary {
    background: rgba(22, 69, 103, 0.80);
}
/*a for single  checklist */
a#a_LC4.nav-link {

}

a:active#a_LC4.nav-link {
    background: #007BFF;
    color: white;
}
a:hover#a_LC4.nav-link {
    background: #007BFF;
    color: white;
}


/* table to see all checklist*/
#Table_CL {
    background: white;
}

/* Modify checklist*/
input#checklistName { /*Name checklist*/
    background: white;
    border-radius: 5px;
    padding: inherit;
}

select#checklistType { /*Tipe checklist*/
    background: white;
    border-radius: 5px;
    padding: inherit;
}
/*
input#checklistId {  identify checklist
    background: white;
    border-radius: 5px;
    padding: inherit;
}*/

input#checklistOrder { /*Order checklisy*/
    background: white;
    border-radius: 5px;
    padding: inherit;
}

textarea#checklistDescription {
    background: white;/*Description checklist*/
    border-radius: 5px;
    padding: inherit;
}
/*View all checklist created*/
.container#contAll_LC{
    padding-top: 16px;
}

.col-lg-3.mb-4#colALL_LC {
    background: white;
    border-radius: 5px;
}
 
/*Create item for a checklist*/
button#BS_LC6.btn-secondary {
    background: transparent;
    color: black;
    border-radius: 1.0rem;
    border-width: 1px;
}

#Body_LC {
    background: white;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
}