/* Styles for Multumedia Component*/
.m-input 
{
    margin: 5px 0px;
    display: block;
}

.m-label
{
    width: 100px;
}

.m-label:hover
{
        text-decoration: underline;
}

.m-menu-div {
    padding-left: 15px;
    margin-top: 4px;
    margin-bottom: 4px;

}

.m-btn 
{
    font-size: 15px;
}

.m-btn-rm
{
    display: inline;
    margin-right: 15px;
}

.m-button
{
    background-color: #095290;
}

.m-button:hover 
{
    background-color: #00c0f3;
}
.show > .btn-secondary.dropdown-toggle {
    background-color: #00c0f3;
    border-color: #00c0f3;
}
/*
    Cambiar color del contador de archivos adjuntados para 
    el boton de contenido multimedia para adjustarse al prototipo validado por el P.O
*/
.add-multimedia-button {
    opacity: 1;
    position:initial;
    background-color: #095290;
}
.add-multimedia-button:active {
    opacity: 1;
    background-color: #095290;
}
.add-multimedia-button:focus {
    opacity: 1;
    background-color: #095290;
}

.counter-append {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    color: white;
    background-color: rgb(238,64,55);
    border: solid #fbc51a 0px;
    width: 26px;
    height: 26px;
    font-size: 12px;
    text-align: center;
    align-content: center;
    /*display: inline;*/
    border-radius: 50%;
    top: 50%;
    line-height: 2;
    /*Posicionar apendice*/
    position: relative;
    left: 50px;
    top: -16px;
}
.dropdown-menu {
    transform: none;
    transition: none;
}
.dropdown-menu.show {
    transform: none;
    transition: none;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.data_btn:hover {
    border-color: #fbc51a;
}
.data_btn {
    border: 10px;
    width: 50px;
    height: auto;
}

.rt-img-cont {
    border: 0px;
    padding: 0px;
}

.btn-secondary {
    background-color: #095290;
}
    .btn-secondary:hover {
        background-color: #00c0f3;
        border-color: #00c0f3;  
    }
.action_buttom {
    opacity: 1;
}
    .action_buttom:hover {
        opacity: 1;
    }
.ver_link {
    color: white;
    text-decoration: none;
}
    .ver_link:hover {
        color: white;
        text-decoration: none;
    }
input[type="file"] {
    padding: 10px;
    font-size: revert;
}
p {
    padding: 10px;
}
input#file-upload-button {
    color:white;
}
button.btn.btn-danger.m-btn.m-btn-rm {
    /*PARA ACTIVAR:*/
    /*background-color: rgb(238,64,55);   COLOR ROJO*/
    /*PARA DESACTIVAR:*/
    background-color: #676766;
    border-color: #676766;
    cursor: not-allowed;
    pointer-events: none;
}

/* Loading Wheel */
.mc-loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #095290; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*MODAL*/

/* The Modal (background) */
.modal-mc {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content-image-mc {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

}

.video-div {
    all: unset;
    /** {
        all: unset;
    }*/
}

.rt-container {
    width: 500px;
    display: block;
    margin: auto;
}

.rt-box {
    margin: auto;
    width: 512px;
    height: 384px;
    border: 1px solid black;
}

.rt-button {
    width: 120px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.hidden {
    display: none;
}