/* Styles for Multumedia Component*/
.m-input 
{
    margin: 5px 0px;
    display: block;
}

.m-label
{
    width: 100px;
}

.m-label:hover
{
        text-decoration: underline;
}

.m-menu-div {
    padding-left: 15px;
    margin-top: 4px;
    margin-bottom: 4px;

}

.m-btn 
{
    font-size: 15px;
}

.m-btn-rm
{
    display: inline;
    margin-right: 15px;
}

.m-file-menu 
{
}

.m-button
{
    background-color: #095290;
}

.m-button:hover 
{
    background-color: #00c0f3;
}
.show > .btn-secondary.dropdown-toggle {
    background-color: #00c0f3;
    border-color: #00c0f3;
}

.counter-append {
    background-color: #fbc51a;
    border: solid #fbc51a 1px;
    width: 26px;
    height: 26px;
    font-size: 12px;
    text-align: center;
    align-content: center;
    /*display: inline;*/
    border-radius: 50%;
    top: 50%;
    line-height: 2;
    /*Posicionar apendice*/
    position: relative;
    left: 50px;
    top: -16px;
}
.dropdown-menu.show {
padding-bottom: 15px;
padding-top: 15px;
padding-left: 20px;
padding-right: 20px;

}
.data_btn:hover {
    border-color: #fbc51a;
}
.data_btn {
    border: 10px;
}
.btn-secondary {
    background-color: #095290;
}
    .btn-secondary:hover {
        background-color: #00c0f3;
        border-color: #00c0f3;
    }
.ver_link {
    color: white;
    text-decoration: none;
}
    .ver_link:hover {
        color: white;
        text-decoration: none;
        
    }
input[type="file"] {
    padding: 10px;
}
p {
    padding: 10px;
}
input#file-upload-button {
    color:white;

}