/* Styles for Multumedia Component*/
.m-input 
{
    margin: 5px 0px;
    display: block;
}

.m-label
{
    width: 100px;
}

.m-label:hover
{
        text-decoration: underline;
}

.m-menu-div {
    padding-left: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.m-btn 
{
    height: 20px;
    padding: 2px 6px;
    font-size: 10px;
}

.m-btn-rm
{
    display: inline;
    margin-right: 15px;
}

.m-file-menu 
{
}

.m-button
{
    background-color: #095290;
}

.m-button:hover 
{
    background-color: #00c0f3;
}
.show > .btn-secondary.dropdown-toggle
{
    background-color: #00c0f3;
}