@page "/medical-appointment/{id}"
@using BlazorTable
@using PRIME_UCR.Domain.Models.Appointments
@inject IAppointmentService appointment_service;

<style>
    .prescription_list {
        width : 80%; 
    }

    .drugselector {
        width : 20%; 
    }
</style>


<div class="prescription_list">
    <PrescriptionListComponent AppointmentId="@id"></PrescriptionListComponent>
</div>


<div class="drugselector">
    <DrugSelectorComponent IdMedicalPrescription="@id"></DrugSelectorComponent>
</div>


@code {

    [Parameter] public string id { get; set; }

}
