@page "/medical-appointment/{id}"
@using BlazorTable
@using PRIME_UCR.Domain.Models.Appointments
@using PRIME_UCR.Components.MedicalAppointments 
@inject IAppointmentService appointment_service;

<style>
    .prescription_list {
        width : 60%;
        position:absolute;
        top: 100px;
        right: 10px; 
    }

    .drugselector {
        width : 20%; 
    }
</style>


<div class="prescription_list">
    <PrescriptionListComponent AppointmentId="@id" Medpres="medicalprescrip"></PrescriptionListComponent>
</div>


<div class="drugselector">
    <DrugSelectorComponent IdMedicalPrescription="@id" UpdateList="updatelist"></DrugSelectorComponent>
</div>

