@using PRIME_UCR.Domain.Models.CheckLists;
<CascadingAuthenticationState>
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Found>
            <NotFound>
                <LayoutView>
                    <p>:)</p>
                </LayoutView>
            </NotFound>
        </Router>
</CascadingAuthenticationState>

@code {
}
