@inherits LayoutComponentBase

<div class="sidebar navbar-light text-white background-image:blue">
    <AuthorizeView>
        <Authorized>
            <CascadingValue Value="@lists" Name="lists">
                <CheckListNavMenu OnlistsChange="Changelists" />
            </CascadingValue>
        </Authorized>
        <NotAuthorized>
            <LoginForm />
        </NotAuthorized>
    </AuthorizeView>
</div>

<div class="main">
    <div>
        <CascadingValue Value="@lists" Name="lists">
            @Body
        </CascadingValue>
    </div>
</div>

@code{
    public IEnumerable<CheckList> lists { get; set; }

    private void Changelists(IEnumerable<CheckList> newlists)
    {
        lists = newlists;
        StateHasChanged();
    }
}