@inherits LayoutComponentBase

<div class="sidebar">
    <CascadingValue Value="@IsModalOpened" Name="IsModalOpened">
        <CheckListNavMenu lists="lists" OnIsModalOpenedChange="ChangeIsModalOpened" />
    </CascadingValue>
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div>
        <CascadingValue Value=getLists Name="getLists">
            <CascadingValue Value="@IsModalOpened" Name="IsModalOpened">
                @Body
            </CascadingValue>
        </CascadingValue>
    </div>
</div>

@code{
    public IEnumerable<CheckList> lists;

    public Task assignLists(IEnumerable<CheckList> BodyList)
    {
        lists = BodyList;
        return null;
    }
    public EventCallback<IEnumerable<CheckList>> getLists => EventCallback.Factory.Create<IEnumerable<CheckList>>(this, assignLists);

    public bool IsModalOpened { get; set; }

    private void ChangeIsModalOpened(bool newIsModalOpened)
    {
        IsModalOpened = newIsModalOpened;
        StateHasChanged();
    } }