<ul style="list-style-type:disc">
    <li>
        <a class="nav-link">
            Gráfico incidentes antendidos contra el tiempo
        </a>
    </li>
    <li>
        <a class="nav-link">
            Gráfico incidentes atendidos por vias terrestres
        </a>
    </li>
</ul>