<ul style="list-style-type:disc">
    <li>
        <a class="nav-link disable">
            Incidentes diarios
        </a>
    </li>
    <li>
        <a class="nav-link disable">
            Incidentes via terrestre
        </a>
    </li>
</ul>