@using PRIME_UCR.Components.Dashboard.Filters
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">
    <div class="col align-content-center" style="font-size:30px">
        Filtros
    </div>
    <div class="col p-3">
        <OriginFilter @bind-value="Value" />
    </div>
    <div class="col p-3">
        <DestinationFilter @bind-value="Value" />
    </div>
    <div class="col p-3">
        <DateFilter @bind-value="Value" />
    </div>
    <div class="col p-3">
        <ModalityFilter @bind-value="Value" />
    </div>
    <div class="col p-3">
        <StateFilter @bind-Value="Value" />
    </div>
    <div class="col p-2">
        <div class="text-center">
            @if (Value.ButtonEnabled)
            {
                <button  class="btn btn-primary mt-1 mb-1" @onclick:preventDefault @onclick="@ApplyFilters">Refrescar</button>
                <button role="button" @onclick:preventDefault @onclick="@ClearFilters" class="btn btn-outline-secondary">Limpiar filtros</button>
            }
            else
            {
                <button disabled class="btn btn-outline-secondary">Limpiar filtros</button>
            }
        </div>
    </div>
</div>
