@using PRIME_UCR.Components.Dashboard.Filters

<h3>Filtros</h3>
<OriginFilter @bind-value="FilterInfo"/>
<DestinationFilter @bind-value="FilterInfo"/>    
<DateFilter @bind-value="FilterInfo"/>
<ModalityFilter @bind-value="FilterInfo"/>
