@using PRIME_UCR.Components.Dashboard.Filters

<h3>Filtros</h3>
<div class="row">
    <div class="col">
        <OriginFilter @bind-value="Value" />
    </div>
    <div class="col">
        <DestinationFilter @bind-value="Value" />
    </div>
    <div class="col">
        <DateFilter @bind-value="Value" />
    </div>
    <div class="col">
        <ModalityFilter @bind-value="Value" />
    </div>
    <div class="col">
        <StateFilter @bind-Value="Value" />
    </div>
    <div class="col">
        @if (Value.ButtonEnabled)
        {
            <button role="button" @onclick:preventDefault @onclick="@ClearFilters" class="btn btn-outline-secondary">Limpiar filtros</button>
        }
        else
        {
            <button disabled class="btn btn-outline-secondary">Limpiar filtros</button>
        }

    </div>
</div>
