@using PRIME_UCR.Components.Dashboard.Filters

<div class="row">
    <div class="col">
        Filtros
    </div>
    <div class="col">
        <OriginFilter @bind-value="Value" />
    </div>
    <div class="col">
        <DestinationFilter @bind-value="Value" />
    </div>
    <div class="col">
        <DateFilter @bind-value="Value" />
    </div>
    <div class="col">
        <ModalityFilter @bind-value="Value" />
    </div>
    <div class="col">
        <StateFilter @bind-Value="Value" />
    </div>
    <div class="col">
        
        <div class="text-center">
            @if (Value.ButtonEnabled)
            {
                <button  class="btn btn-primary mt-1 mb-1" @onclick:preventDefault @onclick="@ApplyFilters">Refrescar</button>
                <button role="button" @onclick:preventDefault @onclick="@ClearFilters" class="btn btn-outline-secondary">Limpiar filtros</button>
            }
            else
            {
                <button disabled class="btn btn-outline-secondary">Limpiar filtros</button>
            }
        </div>
    </div>
</div>
