@using PRIME_UCR.Components.Dashboard.IncidentsCounter


<div class="row justify-content-center">
    <TotalIncidentsCounterComponent IncidentsCounter="@Value" />
    <MaritimeIncidentsCounterComponent IncidentsCounter="@Value" />
    <AerialIncidentsCounterComponent incidentsCounter="@Value" />
    <TerrestrialIncidentsCounterComponent incidentsCounter="@Value" />
</div>