@page "/user_administration/resendValidationEmail"
@attribute [HasPermission(Domain.Constants.AuthorizationPermissions.CanManageUsers)]
<h3>Reenvio de correos de confirmación a usuarios</h3>

<NotAuthenticatedUsersComponent/>