@page "/requestPasswordRecovery/{EmailEncoded}/{PasswordRecoveryToken1Encoded}/{PasswordRecoveryToken2Encoded}"

<h3>
    Configuración de nueva contraseña
</h3>

<Loading IsLoading="recoveryPasswordInfo.PasswordRecoveryToken == String.Empty">
    <SetNewPasswordComponent RecoveryPasswordInfo="recoveryPasswordInfo" />
    <br />
</Loading>
