@page "/requestPasswordRecovery/{Email}/{PasswordRecoveryToken1}/{PasswordRecoveryToken2}"

<h3>
    Configuración de nueva contraseña
</h3>

<Loading IsLoading="recoveryPasswordInfo.PasswordRecoveryToken == String.Empty">
    <SetNewPasswordComponent RecoveryPasswordInfo="recoveryPasswordInfo" />
    <br />
</Loading>
