@page "/user_administration/profiles"
@using PRIME_UCR.Components.UserAdministration

@attribute [Authorize]

<div class="btn-group">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Lista de perfiles
    </button>
    <div class="dropdown-menu">


        <a class="dropdown-item" href="#">Perfil 1</a>
        <a class="dropdown-item" href="#">Perfil 2</a>
        <a class="dropdown-item" href="#">Perfil 3</a>
    </div>
</div>

<UsersComponent />
<PermissionsComponent/>
<ProfilesComponent/>