@attribute [HasPermission(AuthorizationPermissions.CanManageUsers)]
@page "/user_administration/registerUser"

@using PRIME_UCR.Application.DTOs.UserAdministration
@using PRIME_UCR.Application.Implementations.UserAdministration
@using PRIME_UCR.Components.UserAdministration

<h3>Registrar usuarios en la aplicación</h3>

<p>
    En esta página usted puede hacer el registro de usuarios en la aplicación
</p>

<EditForm Model="infoOfUserToRegister" OnValidSubmit="RegisterUserInDB">
    <FluentValidationValidator />

    <RegisterUserFormComponent Value="infoOfUserToRegister" />

    <button type="submit" class="btn btn-primary">Registrar usuario</button>
</EditForm>