<footer id="footer_page">
    <div class="container py-2">
        <div class="row text-center d-flex mt-1">
            <div class="col-sm-4 ">
                <img src="/NewFolder/ucr_promo.png">
            </div>

            

            <div class="col-sm-4">
                <h5>
                    Publicaciones
                </h5>
            </div>

     
            <div class="col-sm-4">
                <h5>
                    Contacto
                </h5>
            </div>

        </div>

    </div>


    <div class="footer-copyright text-center mt-1">
        © 2020 Copyright:
        <a href="https://ucr.ac.cr/"> Universidad de Costa Rica</a>
    </div>

</footer>