<footer class="page-footer bg-dark text-white border-bottom-0 mt-4 border-0">

    <div class="text-center">

        <div class="row">

            <div class="col-md-3 mx-auto">
                <h5>
                    UCR
                </h5>
            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-3 mx-auto">
                <h5>
                    Publicaciones
                </h5>
            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-3 mx-auto">
                <h5>
                    Contacto
                </h5>
            </div>

        </div>

    </div>


    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="https://ucr.ac.cr/"> Universidad de Costa Rica</a>
    </div>

</footer>