<footer id="footer_page">
    <div class="container py-2">
        <div class="row text-center d-flex mt-1">

            <div class="col-sm-4 img_header">
                <img src="https://i.imgur.com/BU4CeA0.png" alt="ucr_footer_logo">
            </div>
       

            <div class="col-sm-4 footer_pubs">
                <h5>
                    Publicaciones
                </h5>
                <a href="https://www.ucr.ac.cr/noticias/">Noticias</a><br />
                <a href="https://www.ucr.ac.cr/multimedios/documentos/">Documentos</a>
            </div>


            <div class="col-sm-4 footer_links">
                <h5>
                    Contacto
                </h5>
                <a href="https://www.ucr.ac.cr/directorio/">Directorio completo de contactos UCR</a><br/>
                <a href="https://www.ucr.ac.cr/contacto.html"> Contacto sitio web www.ucr.ac.cr</a>
            </div>

        </div>

    </div>


    <div class="footer-copyright text-center mt-1 footer_copyright">
        © 2020 Copyright:
        <a href="https://ucr.ac.cr/"> Universidad de Costa Rica</a>
    </div>

</footer>