<footer class="footer-page">

    <div class="footer-links">

        <div class="footer-logo">
            <img id="f-logo" src="img/ucr_promo.png">
        </div>

        <div class="footer-publicaciones">
            <h5 id="f-title">
                Publicaciones
            </h5>
            <a id="f-link" href="https://www.ucr.ac.cr/noticias/">Noticias</a><br />
            <a id="f-link" href="https://www.ucr.ac.cr/multimedios/documentos/">Documentos</a>
        </div>


        <div class="footer-contacto">
            <h5 id="f-title">
                Contacto
            </h5>
            <a id="f-link" href="https://www.ucr.ac.cr/directorio/">Directorio completo de contactos UCR</a><br />
            <a id="f-link" href="https://www.ucr.ac.cr/contacto.html"> Contacto sitio web www.ucr.ac.cr</a>
        </div>

        <div class="footer-logo">
            
        </div>

    </div>


    <div class="footer-copyright">
        © 2020 Copyright: <a id="f-link" href="https://ucr.ac.cr/"> Universidad de Costa Rica</a>
    </div>

</footer>