@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <HeaderComponent />
    <div class="mx-auto order-0">

    </div>
    <div class="content px-4 float-none">
        @Body
    </div>
</div>
