@inherits LayoutComponentBase

<HeaderComponent />
<app>
    <div class="col col-sm-3 col-md-3 col-xl-2 col-lg-2 sidebar navbar-light text-white background-image:blue">
        <AuthorizeView>
            <Authorized>
                <NavMenu />
            </Authorized>
            <NotAuthorized>
                <LoginForm />
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <main class="col col-sm-9 col-md-9 col-xl-10 col-lg-10 main">

        <div class="content px-4 float-none">
            @Body
        </div>

    </main>
</app>
<FooterComponent />
