@inherits LayoutComponentBase

<div class="sidebar">
    @if(authenticated)
    {
        <NavMenu />
    } else
    {
        <LoginForm />
    }
</div>

<div class="main">
    <NavBarComponent/>
    <button class="align-text-bottom" @onclick="changeAuthe">
        Cambiar autenticación.
    </button>
    @if(authenticated)
    {
        <div class="content px-4 float-none">
            @Body
        </div>
    } else
    {
       <p>
           Ingrese con su usuario.
       </p> 
    }
</div>

@code{
    private bool authenticated;

    protected override void OnInitialized()
    {
        authenticated = true;
        base.OnInitialized();
    }

    private void changeAuthe()
    {
        authenticated = !authenticated;
    }
}