@inherits LayoutComponentBase

<div class="sidebar navbar-light text-white background-image:blue">
    <AuthorizeView>
        <Authorized>
            <NavMenu />
        </Authorized>
        <NotAuthorized>
            <LoginForm />
        </NotAuthorized>
    </AuthorizeView>
</div>

<div class="main">

    <div class="content px-4 float-none">
        @Body
    </div>

</div>