<div>
    <div id="ucr_header" class="desplazado">
        <div class="ucr_content">
            Universidad de Costa Rica
        </div> <!-- contenido-interno -->
    </div>

    <div class="top-row px-4 justify-content-between">
        <div class="row">
            <a class="nav-link " href="about-us">Acerca de nosotros</a>
            <a class="nav-link" href="https://www.ccss.sa.cr/">CCSS</a>
            <a class="nav-link" href="https://www.ucr.ac.cr/">UCR</a>
        </div>
        <div class="row">
            <a class="nav-link" href="https://www.ucr.ac.cr/">Usuarios</a>
        </div>
    </div>
</div>