@typeparam TEnum

<li class="nav-item">
    <a href="" class="@($"nav-link {activeClass}")" @onclick="OnTabSet" @onclick:preventDefault>@TabName</a>
</li>

@code {
    protected override void OnParametersSet()
    {
        SetActiveClass();
    }
}