@using PRIME_UCR.Components.Controls
@using Microsoft.EntityFrameworkCore
@implements IDisposable

<Loading IsLoading="_isLoading">
    <EditForm EditContext="_context">
        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <DropDownMenu Data="@_values" 
                              T="Pais" 
                              Label="País" 
                              TextProperty="Nombre"
                              DefaultText="Sin filtro"
                              @bind-Value="@Value.Country" 
                              UseValidation="false" 
                              Required="false"/>
            </div>
        </div>
    </EditForm>
</Loading>