@using PRIME_UCR.Components.Controls
@using PRIME_UCR.Domain.Models.UserAdministration
@using PRIME_UCR.Components.Incidents.IncidentDetails.Tabs
@using Microsoft.EntityFrameworkCore

<Loading IsLoading="_isLoading">
    <EditForm EditContext="_context">
        <FluentValidationValidator />
        <div class="row">
            <div class="col-xl-6 col-lg-8">
                <DropDownMenu T="CentroMedico" Data="_medicalCenters"
                              Label="Centro médico"
                              DefaultText="Sin filtro"
                              TextProperty="Nombre"
                              Value="@Value.MedicalCenter"
                              ValueExpression="() => Value.MedicalCenter"
                              ValueChanged="@((CentroMedico mc) => OnChangeMedicalCenter(mc))" 
                              UseValidation="false"
                              Required="false"/>
            </div>
        </div>
    </EditForm>
</Loading>
