<div class="form-group">
    <label>@DateLabel</label>
    <input class="form-control" type="date" @oninput="OnDateChanged"/>
</div>
<div class="form-group">
    <label>@TimeLabel</label>
    <input class="form-control" type="time" @oninput="OnTimeChanged" value="@_time"/>
</div>
