@typeparam T

<div class="form-group">
    <label>@Label</label>
    <select @onchange="OnChange" class="custom-select">
        @foreach (var tuple in Values)
        {
            <option value="@GetIndex(tuple)">@tuple.Item2</option>
        }
    </select>
</div>