@inherits InputBase<string>

<div class="form-group">
    <label>@Label</label>
    <input class="@($"form-control {ValidationCssClass}")"
           value="@_value"
           @oninput="OnChangeEvent"/>

    <div class="invalid-feedback">
        <ValidationMessage For="@(() => Value)"></ValidationMessage>
    </div>
</div>
