<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Estado</th>
            <th scope="col">Fecha de actualización</th>
            <th scope="col">Aprobado por</th>
        </tr>
    </thead>
    
    <tbody>
        @for (var index = 0; index < StatesLog.Count; ++index)
        {
            <tr>
                <td>@_states.List[index].Item2</td>
                <td>@StatesLog[index].Item1</td>
                <td>@StatesLog[index].Item2.NombreCompleto</td>
            </tr>
        }
    </tbody>
</table>