@page "/incidents/create"
@using PRIME_UCR.Components.Controls
@attribute [Authorize]

<h1>Crear incidente</h1>
<Loading IsLoading="_modes == null">
    <div class="col-lg-6 col-md-8">
        <EditForm EditContext="_context" OnValidSubmit="@Create">
            <DataAnnotationsValidator/>
            <div class="form-group">
                <DropDownMenu Label="Modalidad" Data="_modes" @bind-Value="_model.Mode"
                              TextProperty="Tipo"
                              DefaultText="Seleccione una modalidad de traslado"/>

                <ValidationMessage For="() => _model.Mode" />
            </div>
            <div class="form-group">
                <DateTimePicker @bind-Value="@_model.EstimatedDateOfTransfer"
                                 DateLabel="Fecha estimada de traslado" TimeLabel="Hora estimada de traslado"/>
                <ValidationMessage For="() => _model.EstimatedDateOfTransfer" />
            </div>
            @if (isFormValid)
            {
                <button type="submit" class="btn btn-primary">Crear</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" disabled>Crear</button>
            }
        </EditForm>
    </div>
</Loading>
<br/>