@page "/map"

<h3>Mapa de incidentes en tiempo real</h3>
<br />
<Loading IsLoading="@_isLoading">
    <div class="jumbotron white-panel" style="height: 100vh">
        <RadzenGoogleMap style="height: 100%"
                         Zoom=@kDefaultZooom ApiKey="@Configuration["MapApiKey"]"
                         Center=@_center
                         MarkerClick=@OnMarkerClick>
            <Markers>
                @foreach (var gps in _data)
                {
                    <RadzenGoogleMapMarker Title="@(gps.IncidentCode)"
                                           Label="@(gps.IncidentCode)"
                                           Position=@(new GoogleMapPosition {Lat = gps.CurrentLatitude, Lng = gps.CurrentLongitude})/>
                }
            </Markers>
        </RadzenGoogleMap>
    </div>
</Loading>
