@page "/incidents/ListaIncidentes"
@attribute [Authorize]


<h3>Lista de Incidentes</h3>
<hr />
<section>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Código Incidente</th>
                <th>Cédula Paciente</th>
                <th>Nombre Paciente</th>
                <th>Fecha Registro</th>
                <th>Hora Registro</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
            <tr>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
                <td>Placeholder</td>
            </tr>
        </tbody>
    </table>
</section>




