@page "/checklist"
@inherits CheckListPageBase
@layout CheckListLayout
@* @attribute [Authorize(Roles = "coordinador tecnico medico")] *@
@* @attribute [Authorize(Policy = "check-list")] *@

<h3 align="center"> Listas de Chequeo </h3>
<div>
    @if (lists == null)
    {
     <p><em class="nav-link">No se han creado ninguna lista, presione el boton Crear Lista de Chequeo para crear una.</em></p>
    } else
    {
        if (lists.Count() == 0)
        {
            <p><em class="nav-link">No se han creado ninguna lista, presione el boton Crear Lista de Chequeo para crear una.</em></p>
        }
        else { 
            <ul class="nav flex-column">
            @foreach (var tempList in lists)
            {
                <li class="nav-item px-3">
                    <NavLink href='@string.Format("checklist/{0}", @tempList.Id)'>
                        @tempList.Nombre
                    </NavLink>
                </li>
            }
            </ul>
        }
    }
</div>