@page "/checklist/create"
@using PRIME_UCR.Components.Controls
@inherits CheckListCreateBase

@using PRIME_UCR.Application.DTOs.UserAdministration;
@using PRIME_UCR.Application.Implementations.UserAdministration;
@attribute [HasPermission(AuthorizationPermissions.CanCreateCheckList)]
<link href="css/Checklist.css" rel="stylesheet" />

<h3>Plantillas de listas de chequeo</h3>
<hr />
<div class="row">
    <CheckListMenu Lists="lists" />
    @*
        Story: PIG01IIC20-309
        Tasks: PIG01IIC20-399, PIG01IIC20-346, PIG01IIC20-450
        Devs: Stephanie Leiton, Juan Pablo Gamboa
    *@
    <div class="col">
        @* Contains the form to create a new checklist *@
        <div class="container" id="contAll_LC" style="background: white;">
            <h5>Crear plantilla de lista de chequeo</h5>
            <br />
            <CheckListForm CheckList="checkList" ValidSubmit="AddCheckList" OnDispose="Dispose" Update="false"/>
        </div>
        <br />
    </div>
</div>
