<div class="rounded card" style="width: 23em; padding: 0.5em; margin: 1em;">
    <div class="text-center">
        <h6>
            @Label
        </h6>
        <h3>
            @Counter
        </h3>
    </div>
</div>