@page "/about-us"

<h1>Acerca de nosotros</h1>

<ul>
    <li>
        Diosvier
        <ul>
            <li>Erik Kühlmann Salazar</li>
            <li>Daniel Salazar Mora</li>
            <li>José Esteban Marín Masís</li>
            <li>Adrián Sibaja Retana</li>
        </ul>
    </li>
    <li>
        <b>Atenienses++</b>
        <ul>
            <li>Fernando Morales</li>
            <li>Luis Sanchez Romero</li>
            <li>José Andrés Víquez Ramírez</li>
            <li>Daniela Vargas Sauma</li>
            <li>Elian Ortega Velasquez</li>
        </ul>
    </li>
    <li>
        Drim Team
        <ul>
            <li>Adrián Córdoba</li>
            <li>Javier Sandoval</li>
            <li>Gustavo Jimenez</li>
            <li>Isacc Zúñiga</li>
            <li>José Ignacio Cruz</li>
        </ul>
    </li>
</ul>

