@page "/about-us"

<h1>Acerca de nosotros</h1>

<ul>
    <li>
        <b>Atenienses++</b>
        <ul>
            <li>Fernando Morales</li>
            <li>Luis Sanchez Romero</li>
            <li>José Andrés Víquez Ramírez</li>
        </ul>
    </li>
</ul>

