@page "/about-us"

<h1>Acerca de nosotros</h1>

<ul>
    <li>
        NombreEquipo
        <ul>
            <li>Nombre desarrollador</li>
        </ul>
    </li>
    <li>
        Legados
        <ul>
            <li>Juan Pablo Gamboa Vargas</li>
            <li>Kevin Obando Molina</li>
        </ul>
    </li>
</ul>

