@page "/about-us"

<h1>Acerca de nosotros</h1>

<ul>
    <li>
        NombreEquipo
        <ul>
            <li>Nombre desarrollador</li>
        </ul>
    </li>
    <li>
        Drim Team
        <ul>
            <li>Adrián Córdoba</li>
        </ul>
        <ul>
            <li>Isacc Zúñiga</li>
        </ul>
    </li>
</ul>

