@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <a href="/">Hello, @context.User.Identity.Name! </a>
       
            <a href="/" class="nav-link btn btn-link" >Log Out</a>
        
    </Authorized>
    <NotAuthorized>
        <p>Not Authorized</p>
        <a href="Identity/Account/Register">Register </a>

        <a href="Identity/Account/Login">Login </a>

    </NotAuthorized>
</AuthorizeView>
