@page "/" 
<h1>Welcome to your new app.</h1>


<AuthorizeView>
    <Authorized>
        <a href="/">Hello, @context.User.Identity.Name! </a>       
    </Authorized>
    <NotAuthorized>
        <p>Not Authorized</p>
    </NotAuthorized>
</AuthorizeView>
