@using BlazorTable
@using PRIME_UCR.Domain.Models.Appointments
@inject IIncidentService incident_service; 
<h3>Lista de Citas</h3>

<style>
    body {
        background-color: white;
    }
</style>

<Loading IsLoading="appointments == null">
    <Table TableItem="Cita" Items="appointments" PageSize="5" @ref="AppointmentsModel" ColumnReorder="true" ShowSearchBar="true" class="table table-bordered">
        <Column TableItem="Cita" Title="Numero de Cita" Field="@(x => x.Id)" Width="20%">
            <Template>
                <a href="#">@context.Id</a>
            </Template>
        </Column>

        <Column TableItem="Cita" Title="Numero de Expediente" Field="@(x => x.IdExpediente)" Width="20%">
        </Column>


        <Column TableItem="Cita" Title="Fecha/Hora Creación" Field="@(x => x.FechaHoraCreacion)" Width="20%">
        </Column>

        <EmptyDataTemplate>
            <div class="text-center">
                No se encontraron citas relacionadas al expediente.
            </div>
        </EmptyDataTemplate>

        <Pager ShowPageNumber="true" ShowTotalCount="true" />
    </Table>
</Loading>
