<GraphContainer Title="Evolucion Metricas de Paciente" EventQuantity="@appointmentsQuantity" ShowModal="ShowModal" ZoomActive="@ZoomActive" QuantityTitle="Cantidad de Citas">
    <div id="AppointmentsVsMedicalRecordsComponent"></div>
</GraphContainer>
