<GraphContainer Title="Citas por Centro Medico" EventQuantity="@appointmentsQuantity" ShowModal="ShowModal" ZoomActive="@ZoomActive" QuantityTitle="Cantidad de Citas">
    <div id="AppointmentsVsMedicalCenterComponent"></div>
</GraphContainer>
