<GraphContainer Title="Presion" EventQuantity="@appointmentsQuantity" ShowModal="ShowModal" ZoomActive="@ZoomActive" QuantityTitle="Cantidad de Citas">
    <div id="AppointmentsVsMedicalRecordsPressureComponent"></div>
</GraphContainer>
