<GraphContainer Title="Citas por Paciente" EventQuantity="@appointmentsQuantity" ShowModal="ShowModal" ZoomActive="@ZoomActive" QuantityTitle="Cantidad de Pacientes">
    <div id="AppointmentVsPatientComponent"></div>
</GraphContainer>
