<GraphContainer Title="Incidentes por origen" EventQuantity="@eventQuantity" ShowModal="ShowModal" ZoomActive="@ZoomActive" >
    <div id="IncidentsVsOriginLocationComponentJS"></div>
</GraphContainer>

