<GraphContainer Title="Incidentes por destino" EventQuantity="@eventQuantity" ShowModal="ShowModal" ZoomActive="@ZoomActive" >
    <div id="IncidentsVsDestinationLocationComponentJS"></div>
</GraphContainer>
