@using PRIME_UCR.Components.Controls

<h5>Asignación de unidad de transporte</h5>
<br />
<Loading IsLoading="_transportUnits == null">
    <EditForm EditContext="_context" OnValidSubmit="Submit">
        <FluentValidationValidator />
        <div class="row">
            <div class="col-md-6">
                <DropDownMenu T="UnidadDeTransporte" Data="_transportUnits"
                              Label="Unidad de transporte"
                              DefaultText="Seleccione una unidad de transporte"
                              TextProperty="Matricula"
                              @bind-Value="Value.TransportUnit"
                              UseValidation="false" />
                </div>
            </div>
                <div class="text-center">
                    @if (!_saveButtonEnabled)
                    {
                        <button disabled type="submit" class="btn btn-primary">Guardar</button>
                        <button disabled class="btn btn-outline-secondary">Descartar</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button role="button" @onclick:preventDefault @onclick="@Discard" class="btn btn-outline-secondary">Descartar</button>
                    }
                </div>
    </EditForm>
</Loading>