@inject IJSRuntime JS

<div class="rt-container">

    <div class="card" style="padding: 20px">
        <h2>Cámara</h2>
        <hr />

        <div class="row">
            <div class="col">
                @* Camara *@
                <div class="row">
                    <video autoplay class="rt-box" @ref=videoElement></video>
                </div>
                <div class="row" style="margin-top: 20px">
                    @* Open Close Camera Button *@
                    <div class="col">
                        <button class="btn btn-primary rt-button" @onclick="HandleOpenCloseButtonClick">
                            @OpenCloseButtonText()
                        </button>
                    </div>
                    @* Take Photograph Button *@
                    <div class="col">
                        <button class="btn btn-primary rt-button" 
                                disabled="@cameraClose"
                                @onclick="TakePhotograph">
                            Tomar fotografía
                        </button>
                    </div>
                </div>
            </div>

            <div class="col">
                @* Preview *@
                <div class="row">
                    <canvas class="rt-box" @ref=canvasElement></canvas>
                </div>
                <div class="row" style="margin-top: 20px">
                    @* Cancel Button *@
                    <div class="col">
                        <button class="btn btn-danger rt-button" 
                                disabled="@photoNotTaken"
                                @onclick="CancelPhotograph">
                            Cancelar
                        </button>
                    </div>
                    @* Save Photograph Button *@
                    <div class="col">
                        <div class="btn btn-primary rt-button">
                            <a style="color: white;" @ref="downloadLinkRef">
                                Descargar
                            </a>
                        </div>
                        @*<a class="btn btn-primary rt-button" role="button" @ref="downloadLinkRef">
                            Descargar
                        </a>*@
                    </div>
                </div>
            </div>

        </div>

    </div>

    @* Image to store photograph *@
    <img src="" class="hidden" @ref=imageElement />

</div>
