@inject IJSRuntime JS

<div class="rt-container">

    <video autoplay class="@VideoClass()" @ref=videoElement></video>

    <canvas class="@CanvasClass()" @ref=canvasElement></canvas>

    <img src="" class="hidden" @ref=imageElement/>

    <button type="button" class="btn btn-primary rt-button" @onclick="HandleClick">@ButtonText()</button>

     
</div>

@*<button type="button" class="btn btn-primary" @onclick="CloseCamera">Cerrar Camara</button>*@