@using PRIME_UCR.Application.Services.Multimedia
@inject IJSRuntime JS
@inject IEncryptionService encrypt_service
<!--POPUP VER-->
<!-- The Modal -->
@if (Show)
{
    <div class="modal-mc">

        <!-- The Close Button -->
        <div class="close" @onclick="CloseImageView">x</div>

        @if (ShowCamera)
        {
            <CameraComponent MultimediaModal="this"></CameraComponent>
        }
        @if (ShowMicrophone)
        {
            <MicrophoneComponent></MicrophoneComponent>
        }
        @if (ShowImage)
        {
            string imgSrc = getSrc();
            string captionName = getName();
            string test = "Jm6twygIq80OCuZ5z2uJbnAOG4gWKI9YVFK6s6bSDtw=/HDmOzxd9FlMXKjHwcHwsJV1jZY84PCvW6VRINe+4geI=/w0TiLwy0Uag83wfF9e7n7w==.png";
            <img src=@test class="modal-content-image-mc">
            <div id="caption">@captionName</div>
        }
        @if (ShowAudio)
        {
            string path = getAudio();
            <audio controls="controls">
                <source src=@path type="audio/mpeg">
            </audio>
        }
        @if (ShowVideo)
        {
            string vid = getVideo();
            <video width="1280" height="720" controls="controls">
                <source src=@vid type="video/mp4">
            </video>
        }
        @if (ShowVideoComponent)
        {
            <VideoComponent MultimediaModal="this"></VideoComponent>
        }
        @if (ShowText)
        {
            <TextComponent OnFileUpload="OnFileUpload"
                           MultimediaContent="MContent"
                           MultimediaModal="this"></TextComponent>
        }

    </div>
}
@if (ShowPDF)
{
    getPDF();
}


