@using PRIME_UCR.Application.Services.Multimedia
@using System.IO
@inject IMultimediaContentService multimedia_content_service

@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment _environment;

@using PRIME_UCR.Infrastructure

<div class="btn-block">
    @ChildContent
    <button class="btn btn-outline-success" @onclick="open_file">
        Adjuntar Archivo
    </button>
</div>

<hr />
<hr />
<hr />

<!--- Install-Package BlazorInputFile -Version 0.1.0-preview-00002-->>

<InputFile OnChange="OpenFile"></InputFile>
@if (file != null)
{

    <p>Name:@file.Name</p>
    <p>Size:@file.Size</p>
    <p>Type:@file.Type</p>

}


@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override void OnInitialized()
    {

    }

    public void open_file()
    {
        //puedo usar esto gracias a la inyeccion que se hizo arriba.
        //este servicio me retorna el modelo, dentro del servicio es que se debe abrir el archivo.
        MultimediaContent multimedia = multimedia_content_service.AddFile();
    }



    //Todo el siguiente codigo.
    //debe estar en el servicio y que dicho servicio me retorne el Modelo ya construido

    IFileListEntry file;

    async Task OpenFile(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
        if (file != null)
        {
            await UploadAsync(file);

        }
    }

    async Task UploadAsync(IFileListEntry fileEntry)
    {
        var path = Path.Combine(_environment.ContentRootPath, "Upload", fileEntry.Name);
        var ms = new MemoryStream();
        await fileEntry.Data.CopyToAsync(ms);
        using (FileStream file = new FileStream(path, FileMode.Create, FileAccess.Write))
        {
            ms.WriteTo(file);
        }
    }

}


<!--
    Ejemplo de DBCONTEXT.
    en App.config se deberia de crear el connectionstring

    <connectionString>
        <add name="WHATEVER" connectionString="data source =.\ bla bla bla">
    </connectionString>


            El sevicio : 'multimedia_content_service' deberia retornarnos el modelo
        del ejemplo, para simplemente agregarlo.


        ApplicationDbContext context = new ApplicationDbContext();

        //aqui se crea un modelo, pero esto en realidad deberia retornarlo el servicio.
        MultimediaContent multimedia = new MultimediaContent()
        {
            ID = "212331",
            Nombre = "A",
            Archivo = "c:/por_ahi/uy",
            Descripcion = "nothing",
            Fecha_Hora = DateTime.Parse("1/2/3"),
            Tipo = "hmmm..",
            ID_accion = "53225252"
    };

    context.multimedia_content.Add(multimedia);
    context.SaveChanges();


    ---->
