<div class="form-group">
    <label>Título: </label>
    <input type="text" class="form-control" @bind="Title" @oninput="OnChange">
    @if (Error)
    {
        <p style="color: red">@ErrorMessage</p>
    }
</div>