@inject IJSRuntime JS
<!--POPUP VER-->
<!-- The Modal -->
@if (Show)
{
<div class="modal-mc">

    <!-- The Close Button -->
    <div class="close" @onclick="CloseImageView">x</div>

    @if (ShowCamera)
    {
        <CameraComponent></CameraComponent>
    }
    @if (ShowImage)
    {
        string imgSrc = getSrc();
        string captionName = getName();
        <img src=@imgSrc class="modal-content-image-mc">
        <div id="caption">@captionName</div>
    }
    if(ShowAudio){
        
    
    }
</div>
}
else {
    if (ShowText) {
       getText();
    }
}


