@*
    <style>
        .wrapper_filter {
            position: absolute;
            top: 50px;
        }
    </style>
*@


<div class="form-inline">
    <label class="sr-only" for="filter-name">Filter</label>
    <input type="text" class="form-control mb-2 mr-sm-2"
           @bind="@FilterBox"
           placeholder="Filtrar por nombre" />
    <button type="button" class="btn btn-outline-primary mr-sm-2 mb-2"
            @onclick="@(() => set_filter(FilterBox))">
        Buscar
    </button>
    <button type="button" class="btn btn-outline-primary mb-2"
            @onclick="@ClearFilter">
        Limpiar Busqueda
    </button>
</div>

